<h1>商品一覧</h1>

<ul class="item_list">

<% # ↓ここにテキストの解説(p24)に従ってコード(eachメソッドによるループ)を追加します %>

    <li>
    <% # ↓ここにテキストの解説(p26)に従ってコード(商品画像の表示)を追加します %>


    <% # ↓ここにテキストの解説(p27)に従ってコード(商品名、価格、在庫数量の表示)を追加します %>
    <p>



    </p>

    <% # ↓ここにテキストの解説(p40)に従ってコード(「良いね」の人数表示)を追加します %>


    <% # ↓ここにテキストの解説(p53)に従ってコード(コメントの件数表示)を追加します %>

    </li>
<% # ↓ここにテキストの解説(p24)に従ってコード(eachメソッドの終端のend)を追加します %>

</ul>
<br />