<h1>商品一覧</h1>

<ul class="item_list">

<% @items.each do |item| %>
  <li>
    <%= link_to image_tag("/assets/#{item.image}"), top_path(item) %>
    <p>
      <%= link_to item.name, top_path(item) %><br />
      <span class="price"><%= item.unit_price %>円（税別）</span><br />
      在庫：<%= item.quantity %>
    </p>
  </li>
<% end %>

</ul>
<br />