// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    font-size: 24pt;
}

textarea {
    width: 400px;
}

th,td {
    padding: 5px;
}

th.sum {
    text-align: right;
}

.number_field {
	text-align: right;
    font-family: sans-serif;
}

input[type=text].number_field {
    width: 40px;
}

.header {
    color:white;
    /*background-color:skyblue;*/
    background-color: #FF9900;
}

.title {
    padding:5px;
}

.title a {
    color: white;
    text-decoration: none;
}

.title a:hover {
    color: white;
    background-color: #FFCC99;
    text-decoration: none;
}

.title #navbar {
    padding-left:5px;
}

.footer {
    color:white;
    background-color: rgb(119, 136, 153);
    margin-top: 16px;
}

.userName {
    color:#000088;
    font-weight:bold;
/*    background-color:#DDDDFF; */
}

#status {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
/*    width:800px; */
}

#photo {
    width:60px;
    float:left;
    margin:0px;
}

#message {
/*    width:740px; */
/*    float:right; */
    margin:0px;
}

#table-sidebar {
    clear:both;
}

#status_line {
    clear:both;
}

#sidebar {
  background-color: #f6f6f6;
}

.item_list {


}

ul.item_list li {
    display: inline;
    margin: 5px;
    padding: 5px;
    width: 200px;
    float: left;
/*
    border: solid;
    border-width: 1px;
*/
}

.price {
    color: red;

}