<!DOCTYPE html>
<html>
<head>
  <title>Toneriver.co.jp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="header">
      <h1 class="title">Toneriver.co.jp</h1>
    </div><!-- header -->
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
    Copyright&copy; Knowledge-ex. Limited. All rights reserved.
    </div>
</div>
</body>
</html>
